body {
  margin: 0;
  background-image: url(images/image11.jpg);
  background-size: cover;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-family: "Caveat", sans-serif;
  text-align: center;
  font-size: 4rem;
  color: rgb(60, 20, 20);
}

p {
  text-align: justify;
  font-family: "Kalam", sans-serif;
  color: rgb(60, 20, 20);
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
  margin: 20px auto;
  padding: 20px;
  text-indent: 30px;
  box-shadow: 3px 3px 5px rgb(60, 20, 20);
  border-radius: 20px;
}
